#charts {
  display: flex;
  flex-direction: column;
}

.chart-container {
  margin: 10px;
  width: 100%;
}

canvas {
  width: 100%;
}

@media (min-width: 768px) {
  #charts {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
