#durationControls {
  margin: 10px;
}

#charts {
  display: flex;
  flex-direction: column;
}

.chart-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
}


.chart-title {
  align-self: center;
}

@media (min-width: 768px) {

  #charts {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .chart-container {
    width: 100%;
  }
}

#record {
  margin: 10px;
}

#controlPanel {
  margin-left: 10px;
}

canvas {
  background-color: aliceblue;
  width: 100%;
}

.waterfall-plot {
  height: 512px;
}
