.container {
  margin-top: 20px;
}

table {
  border-collapse: unset;
}

.album-artwork-cell {
  vertical-align: middle !important;
}

.album-artwork {
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.album-details {
  display: flex;
  flex-direction: column;
}

.album-details-row {
  display: flex;
  flex-direction: row;
}

.album-details-row-label {
  width: 8rem;
}
